.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 1000;
  background-color: rgba(50, 50, 50, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container .modal-closer {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  width: 30px;
}

.modal-box {
  position: fixed;
  background-color: slateblue;
  padding: 56px 32px 32px 32px;
  border-radius: 16px;
  box-shadow: rgba(30, 30, 30, 0.7) 0px 0px 8px 8px;
}

.modal-container button {
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  background-color: snow;
  font-family: inherit;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.modal-container button:hover {
  background-color: red;
  color: snow;
}
