.toolbox-container {
  height: 100%;
  width: 160px;
  background-color: slateblue;
  border-color: #8682dd;
  color: snow;
  border-style: outset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: 0.3s;
  overflow-y: auto;
}

.toolbox-container img {
  height: 40px;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.toolbox-container img:hover {
  background-color: #8682dd;
}

.hightlighted-tool {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.size-chooser-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type='color'] {
  width: 100%;
  min-height: 100px;
}

.color-picker-text {
  font-size: xx-large;
}

.color-picker-container {
  display: flex;
  width: 90%;
  margin-top: 8px;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}

@media only screen and (max-width: 600px) {
  .toolbox-container {
    z-index: 3;
    position: fixed;
    top: 50px;
    left: -166px;
    padding-top: 24px;
    height: calc(100% - 80px);
  }
  .toolbox-container .toolbox-closer {
    height: fit-content;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .toolbox-container .toolbox-closer img {
    height: 30px;
    padding: 0px;
    transition: 0.3s;
  }
  .toolbox-container .toolbox-closer img:hover {
    background-color: initial;
    height: 40px;
  }
}

@media only screen and (min-width: 601px) {
  .toolbox-closer {
    display: none;
  }
}
