.toolbox-container {
  height: 100%;
  width: 160px;
  background-color: slateblue;
  border-color: #8682dd;
  color: snow;
  border-style: outset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.toolbox-container img {
  height: 40px;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.toolbox-container img:hover {
  background-color: #8682dd;
}

.hightlighted-tool {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.size-chooser-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type='color'] {
  width: 100%;
  min-height: 100px;
}

.color-picker-text {
  font-size: xx-large;
}

.color-picker-container {
  display: flex;
  width: 90%;
  margin-top: 8px;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}
