.frame-tools-container {
  width: 160px;
  height: 100%;
  background-color: slateblue;
  border-color: #8682dd;
  color: snow;
  border-style: outset;
  display: flex;
  flex-direction: column;
}
.frame-tools-container-frames {
  overflow-y: scroll;
  border-top-style: groove;
  border-top-width: 6px;
  border-top-color: #8682dd;
}

.frame-tools-container img {
  cursor: pointer;
  width: 32px;
}

.canvas-view {
  width: initial;
  cursor: pointer;
}

.canvas-view-number-label {
  text-align: center;
}

#add-new-frame {
  cursor: pointer;
  width: 32px;
  transition: 0.3s;
}

#add-new-frame:hover {
  background-color: #8682dd;
  border-radius: 8px;
}

.canvas-view-container {
  border-radius: 8px;
  transition: 0.3s;
  padding: 8px;
}

.animation-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.animation-viewer-buttons {
  display: flex;
  width: 100%;
  margin: 8px;
  justify-content: space-evenly;
}

.delete-duplicate-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.delete-duplicate-container img {
  margin: 8px;
}
