.menu-bar {
  display: flex;
  background-color: slateblue;
  width: calc(100vw - 6px);
  padding: 0px;
  border-color: #8682dd;
  color: snow;
  border-style: outset;
  margin-bottom: 3px;
  overflow-x: auto;
}

.menu-bar img {
  transition: 0.3s;
  margin: 0px 16px 0px 16px;
  cursor: pointer;
  height: 40px;
}

.menu-bar-item:hover {
  background-color: #8682dd;
}

@media only screen and (max-width: 600px) {
  .goodbye {
    display: flex;
  }
}
@media only screen and (min-width: 601px) {
  .goodbye {
    display: none;
  }
}
