.drawing-canvas-container {
  touch-action: none;
  user-select: none;
  position: relative;
  max-height: 90vh;
  max-width: calc(95vw - 350px);
  overflow-y: scroll;
  overflow-x: scroll;
}

.drawing-canvas-container #drawing-canvas {
  touch-action: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
}

.drawing-canvas-container　#bg-canvas {
  touch-action: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
}
