.drawing-canvas-container {
  touch-action: none;
  user-select: none;
  background-color: lightgray;
}

.drawing-canvas-container canvas {
  flex-grow: 1;
  touch-action: none;
  user-select: none;
}
