.settings-container {
}

.settings-container form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.settings-container button {
  min-width: 100px;
}

.settings-radios {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.settings-form-label {
  margin-top: 16px;
  text-decoration: underline;
}
