.App {
  position: fixed;
  margin: 0px;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
}

.main-horizontal-container {
  display: flex;
  height: calc(100% - 60px);
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-right: 100px;
}
