.App {
  position: fixed;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(81, 81, 81);
}

.App a {
  color: snow;
  color: yellow;
  text-decoration: underline;
}

.main-horizontal-container {
  display: flex;
  height: calc(100% - 55px);
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-right: 100px;
}

@media only screen and (max-width: 600px) {
  .main-horizontal-container {
    justify-content: center;
  }
}
